*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 50vh;
}

.footer{
    background-color: rgb(233, 190, 111);
    padding: 20px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 12px;
}