*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*****

        HINTERGRUND DER SEITE

*****/

/* hintergrund der seite */
body{
    font-style: italic;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: var(--verlauf);
    background-size: 400%;
    animation: bg-animation 15s infinite alternate;
    position: relative;
}

/* animation des hintergrunds */
@keyframes bg-animation{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }

}

/* variable für den verlauf des hintergrunds */
:root{
    --verlauf: linear-gradient(
            45deg,
            #ed646f,
            #fa939c,
            #f09cf7,
            #b49cf7
    )
}

/*****

        HEADER PART

*****/

/**** header bischen grau und padding ****/
.header {
    background-color: white;
    padding: 20px 10px;
}

/* die header links stylen */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* logo stylen */
.header a.logo {
    background: url("../images/rewe_icon.png") no-repeat;
    display: inline-block;
    background-size: contain;
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* alle elemente außer logo auf rechte seite */
.header-right {
    float: right;
}

/* anzeige wo man sich grad befindet */
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* bischen farb änderung */
.header-right a:hover{
    background-color: #ddd;
    color: black;
}

/* suchleiste */
.header .such-leiste {
    float: right;
    border-radius: 40px;
    height: 40px;
    padding: 5px;
    background-color:  white;
    display: flex;
    align-items: center;
}

.header .such-leiste .such-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    width: 0;
    transition: width 0.4s, padding 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* knof in der suchleiste */
.header .such-btn {
    background-color:  white;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    background-size: cover; /* Hintergrundgröße anpassen */
    transition: color 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* bild der lupe in dem button */
img{
    width: 30px;
    height: 30px;
}

/* animation bzw. ausfahren der suchleiste und veränderung der farbe */
.header .such-leiste:hover > .such-text{
    width: 240px;
    padding: 0 6px;
}

.header .such-leiste:hover{
    background-color: lightgrey;
}

.header .such-leiste:hover > .such-text::placeholder{
    color: white;
}

.header .such-leiste:hover > .such-btn{
    background-color: lightgrey;
}

/* container für das menü icon */
.container{
    display: inline-block;
    cursor: pointer;
}

/* alle drei linien */
.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* drehen und transparent machen der linien */
.click .bar1{
    transform: translate(0, 9px) rotate(-45deg);
}

.click .bar2{
    opacity: 0;
}

.click .bar3{
    transform: translate(0, -9px) rotate(45deg);
}

/*****

        INHALT DER HOME PAGE

*****/

/* Positionierung und Stil für die Überschriften und Hintergrund */
.inhalt {
    font-family: 'Roboto', sans-serif;
    display: flex; /* Flexbox verwenden */
    justify-content: space-between; /* Zwischen den Elementen den verfügbaren Platz verteilen */
    align-items: center; /* Elemente vertikal zentrieren */
    min-height: 85vh;
    padding: 20px; /* Etwas Abstand um den linken Bereich hinzufügen */
}

.left-side {
    width: 75%; /* Linker Bereich nimmt 75% der Breite ein */
    text-align: left; /* Zentrierung des Textes */
    color: white;
}

.right-side {
    border: none;
    filter: invert(1);
    width: 500px;
    height: 400px;
    opacity: 95%;
}

/* überschriften-Stile */
.überschrifft-1 {
    font-size: 60px;
    opacity: 0.2; /* Anpassung der Transparenz */
}

.überschrifft-2 {
    position: relative;
    margin: -30px 0 10px;
}

.überschrifft-3 {
    width: 100%;
    font-size: medium;
    margin: 1px;
}

.try-me {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    width: 85px;
    height: 45px;
    border-radius: 25px;
    border: none;
    transition: 0.2s;
}

.try-me:hover {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100px;
    height: 60px;
    border-radius: 40px;
}

/*****

        DROP DOWN MENÜ

*****/

.menü{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 77px; /* Abstand zum Header */
    left: 0; /* Abstand vom linken Rand */
    background-color: #ddd;
    width: 300px; /* Breite des Menüs */
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    z-index: 5;
    transition: 0.3s ease; /* Übergangseffekt für eine sanfte Animation */
}

/* abstand nach unten */
.menü-titel{
    padding: 20px 0;
}

/* Alle Links im Dropdown-Menü */
.drop-down-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

/* Bilder der Links */
.drop-down-link img {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}

/* Positionierung der Pfeile am rechten Rand */
.drop-down-link span {
    margin-left: auto;
    transition: transform 0.2s;
}

.drop-down-link:hover span{
    transform: translateX(5px);
}

.drop-down-link:hover p{
    font-weight: bold;
}

/* funktion zum öffnen des menüs */
.open-drop-down .menü{
    height: 100vh;
}




/*****

        WELLEN AM BODEN

*****/

/* welle am boden der seite */
section .welle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: url("../images/wave.png");
    background-size: 1000px 150px;
}

/* animation der welle 1 */
section .welle.welle-1{
    animation: bewegung-1 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes bewegung-1 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

/* animation der welle 2 */
section .welle.welle-2{
    animation: bewegung-2 15s linear infinite;
    z-index: 3;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes bewegung-2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

/* animation der welle 3 */
section .welle.welle-3{
    animation: bewegung-1 30s linear infinite;
    z-index: 2;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}








