<<<<<<< HEAD
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit';
    background: linear-gradient(rgb(196, 81, 241), rgb(255, 146, 197), rgb(233, 190, 111));
}

/*****

        HEADER PART

*****/

/**** header bischen grau und padding ****/
.header {
    background-color: white;
    padding: 20px 10px;
}

/* die header links stylen */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* logo stylen */
.header a.logo {
    background: url("../images/Homepage/rewe_icon.png") no-repeat;
    display: inline-block;
    background-size: contain;
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* alle elemente außer logo auf rechte seite */
.header-right {
    float: right;
}

/* anzeige wo man sich grad befindet */
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* bischen farb änderung */
.header-right a:hover{
    background-color: #ddd;
    color: black;
}

/* suchleiste */
.header .such-leiste {
    float: right;
    border-radius: 40px;
    height: 40px;
    padding: 5px;
    background-color:  white;
    display: flex;
    align-items: center;
}

.header .such-leiste .such-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    width: 0;
    transition: width 0.4s, padding 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* knof in der suchleiste */
.header .such-btn {
    cursor: pointer;
    background-color:  white;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    background-size: cover; /* Hintergrundgröße anpassen */
    transition: color 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* bild der lupe in dem button */
img{
    width: 30px;
    height: 30px;
}

/* animation bzw. ausfahren der suchleiste und veränderung der farbe */
.header .such-leiste:hover > .such-text{
    width: 240px;
    padding: 0 6px;
}

.header .such-leiste:hover{
    background-color: lightgrey;
}

.header .such-leiste:hover > .such-text::placeholder{
    color: white;
}

.header .such-leiste:hover > .such-btn{
    background-color: lightgrey;
}

/* container für das menü icon */
.container{
    display: inline-block;
    cursor: pointer;
}

/* alle drei linien */
.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* drehen und transparent machen der linien */
.click .bar1{
    transform: translate(0, 9px) rotate(-45deg);
}

.click .bar2{
    opacity: 0;
}

.click .bar3{
    transform: translate(0, -9px) rotate(45deg);
}

/*****

        DROP DOWN MENÜ

*****/

.menü{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 77px; /* Abstand zum Header */
    left: 0; /* Abstand vom linken Rand */
    background-color: #ddd;
    width: 300px; /* Breite des Menüs */
    padding: 20px;
    height: 0;
    z-index: 5;
    opacity: 0; /* Start opacity */
    visibility: hidden; /* Start visibility */
    transition: height 0.3s ease, opacity 0.5s linear, visibility 0.1s;
}

/* abstand nach unten */
.menü-titel{
    padding: 20px 0;
}

/* Alle Links im Dropdown-Menü */
.drop-down-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

/* Bilder der Links */
.drop-down-link img {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}

/* Positionierung der Pfeile am rechten Rand */
.drop-down-link span {
    margin-left: auto;
    transition: transform 0.2s;
}

.drop-down-link:hover span{
    transform: translateX(5px);
}

.drop-down-link:hover p{
    font-weight: bold;
}

.menü-geöffnet {
    height: calc(100vh - 77px);
    opacity: 1;
    visibility: visible;
}

/*****

        INHALT DER SEITE

*****/

.containerformular{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contactform{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.text{
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.title h2{
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}
.title hr{
    border: none;
    width: 180px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    border-radius: 30px;
}

.choice{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.choice button{
    display: flex;
    flex-direction: row;
    margin-left: 30px;;
}
.choice label{
    margin-left: -40px;
}

.contactform textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border:2px solid rgb(255, 178, 223);
}
.contact-inputs::placeholder{
    color: rgb(145, 145, 145);
}

.contactform button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(rgb(166, 28, 207), rgb(224, 103, 174));
    cursor: pointer;
    transition: 0.2s ease;
}

.contactform button:hover{
    font-size: 20px;
    opacity: .8;
}
.contact-right img{
    width: 300px;
    height: 350px;
    margin-left: 200px;
}

.footer{
    background-color: rgb(233, 190, 111);
    padding: 20px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 12px;
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit';
    background: linear-gradient(rgb(196, 81, 241), rgb(255, 146, 197), rgb(233, 190, 111));
}

/*****

        HEADER PART

*****/

/**** header bischen grau und padding ****/
.header {
    background-color: white;
    padding: 20px 10px;
}

/* die header links stylen */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* logo stylen */
.header a.logo {
    background: url("../images/Homepage/rewe_icon.png") no-repeat;
    display: inline-block;
    background-size: contain;
    width: 100%;
    max-width: 100px;
    height: auto;
}

/* alle elemente außer logo auf rechte seite */
.header-right {
    float: right;
}

/* anzeige wo man sich grad befindet */
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* bischen farb änderung */
.header-right a:hover{
    background-color: #ddd;
    color: black;
}

/* suchleiste */
.header .such-leiste {
    float: right;
    border-radius: 40px;
    height: 40px;
    padding: 5px;
    background-color:  white;
    display: flex;
    align-items: center;
}

.header .such-leiste .such-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    line-height: 40px;
    width: 0;
    transition: width 0.4s, padding 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* knof in der suchleiste */
.header .such-btn {
    cursor: pointer;
    background-color:  white;
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    background-size: cover; /* Hintergrundgröße anpassen */
    transition: color 0.4s; /* Übergangseffekt für eine sanfte Animation */
}

/* bild der lupe in dem button */
img{
    width: 30px;
    height: 30px;
}

/* animation bzw. ausfahren der suchleiste und veränderung der farbe */
.header .such-leiste:hover > .such-text{
    width: 240px;
    padding: 0 6px;
}

.header .such-leiste:hover{
    background-color: lightgrey;
}

.header .such-leiste:hover > .such-text::placeholder{
    color: white;
}

.header .such-leiste:hover > .such-btn{
    background-color: lightgrey;
}

/* container für das menü icon */
.container{
    display: inline-block;
    cursor: pointer;
}

/* alle drei linien */
.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

/* drehen und transparent machen der linien */
.click .bar1{
    transform: translate(0, 9px) rotate(-45deg);
}

.click .bar2{
    opacity: 0;
}

.click .bar3{
    transform: translate(0, -9px) rotate(45deg);
}

/*****

        DROP DOWN MENÜ

*****/

.menü{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 77px; /* Abstand zum Header */
    left: 0; /* Abstand vom linken Rand */
    background-color: #ddd;
    width: 300px; /* Breite des Menüs */
    padding: 20px;
    height: 0;
    z-index: 5;
    opacity: 0; /* Start opacity */
    visibility: hidden; /* Start visibility */
    transition: height 0.3s ease, opacity 0.5s linear, visibility 0.1s;
}

/* abstand nach unten */
.menü-titel{
    padding: 20px 0;
}

/* Alle Links im Dropdown-Menü */
.drop-down-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 12px 0;
}

/* Bilder der Links */
.drop-down-link img {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

}

/* Positionierung der Pfeile am rechten Rand */
.drop-down-link span {
    margin-left: auto;
    transition: transform 0.2s;
}

.drop-down-link:hover span{
    transform: translateX(5px);
}

.drop-down-link:hover p{
    font-weight: bold;
}

.menü-geöffnet {
    height: calc(100vh - 77px);
    opacity: 1;
    visibility: visible;
}

/*****

        INHALT DER SEITE

*****/

.containerformular{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contactform{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.text{
    color: white;
    font-size: 15px;
    margin-left: 10px;
}

.title h2{
    font-weight: 600;
    color: white;
    font-size: 40px;
    margin-bottom: 5px;
}
.title hr{
    border: none;
    width: 180px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(100, 100, 100);
    border-radius: 30px;
}

.choice{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 25px;
    margin-bottom: 5px;
}

.choice button{
    display: flex;
    flex-direction: row;
    margin-left: 30px;;
}
.choice label{
    margin-left: -40px;
}

.contactform textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border:2px solid rgb(255, 178, 223);
}
.contact-inputs::placeholder{
    color: rgb(145, 145, 145);
}

.contactform button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(rgb(166, 28, 207), rgb(224, 103, 174));
    cursor: pointer;
    transition: 0.2s ease;
}

.contactform button:hover{
    font-size: 20px;
    opacity: .8;
}

.contact-right img{
    width: 300px;
    height: 350px;
    margin-left: 200px;
}

.footer{
    background-color: rgb(233, 190, 111);
    padding: 20px;
    text-align: center;
}
.footer p{
    color: white;
    font-size: 12px;
>>>>>>> 25a3f21bc69b6e6aedb220022d38b1417de0891a
}